/* --------------------------------------------------------------------------Estilos Lecturas ----------------------------------------------------------------------------------------------*/

/* Estilo personalizado para la tarjeta */
.custom-card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}



/* Estilos para el botón con efecto de hover */
.custom-btn {
  background-color: #007bff; /* Color original del botón */
  transition: background-color 0.3s ease; /* Efecto de transición al pasar el mouse */
}

.custom-btn:hover {
  background-color: #0056b3; /* Color del botón al pasar el mouse */
}

/* Estilos para los cards con efecto de sombra */
.card {
  border: none; /* Quita el borde predeterminado del card */
  transition: box-shadow 0.3s ease; /* Efecto de sombra al pasar el mouse */
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombras al pasar el mouse */
}



/* Media Query para dispositivos con un ancho máximo de 400px */
@media screen and (max-width: 400px) {
  .contenedor-lecturas {
    width: 100%;
    /* El ancho máximo será el 100% en pantallas más pequeñas */
    margin: 5px;
    /* Ajusta el espacio entre las cards en pantallas más pequeñas */
  }

  .boton-leer-mas-lecturas {
    width: 80%;
    /* Ajusta el ancho del botón en pantallas más pequeñas */
    margin-left: 10px;
    /* Ajusta el margen izquierdo del botón en pantallas más pequeñas */
  }
}