// Mixin para estilos comunes de header
@mixin header-styles {
    background: rgb(5, 180, 238);
    font-family: 'EB Garamond', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1.9rem;
  
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
  
  // Estilos para el header
  header {
    @include header-styles;
  
    // Estilos para la lista de navegación en el header
    .nav {
      display: flex;
      list-style: none;
      li {
        margin-right: 50px;
        .social-icon {
          margin-left: 10px;
        }
      }
    }
  
    // Media Query para dispositivos 
    @media screen and (max-width: 320px) {
      flex-direction: column;
      justify-content: center;
      padding: 20px;
  
      img {
        margin-bottom: 10px; 
      }
  
      .nav {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #333;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
  
        &.show {
          display: flex;
        }
  
        li {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
  }
  