// Variables
$card-width: 300px;
$card-margin: 10px;
$button-width: 50%;
$button-margin: 50px;

// Mixin para estilos comunes de las cards
@mixin card-styles {
  width: $card-width;
  height: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: $card-margin;
  transition: transform 0.3s ease;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
  }

  .titulo-lecturas {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
    margin: 10px 0;
  }

  .contenido-lecturas {
    align-items: center;
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    height: auto;
    padding: 20px;
  }

  .boton-leer-mas-lecturas {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    background-color: #e6490b;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 10px;
    width: $button-width;
    margin-left: $button-margin;

    &:hover {
      background-color: #62acfa;
    }
  }
}

// Estilos para el contenedor principal
.contenedor-principal-lecturas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  background-color: #f5f5f5;
  padding: 20px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

// Media Query para dispositivos con un ancho máximo de 400px
@media screen and (max-width: 400px) {
  .contenedor-lecturas {
    width: 100%;
    margin: 5px;
    @include card-styles; // Aplica los estilos comunes de las cards utilizando el mixin
  }

  .boton-leer-mas-lecturas {
    width: 80%;
    margin-left: 10px;
  }
}
