/* Estilos comunes para todos los tamaños de pantalla */


.desafio {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
  padding: 20px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.grid-container-desafio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.contenedor-desafio {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenedor-desafio img {
  max-width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
}

.titulo-desafio {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.contenido-desafio {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.boton-leer-mas-desafio {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 8px 16px;
  background-color: #2c3136;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.boton-leer-mas-desafio:hover {
  background-color: #e28f12;
}

.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Media query para adaptar estilos a dispositivos móviles */
@media (max-width: 480px) {
  .grid-container-desafio {
    grid-template-columns: 1fr;
    max-width: 100%;
    padding: 10px;
  }
}

