// Estilos generales
body {
  transition: background-color 0.5s;
  position: relative;
}

// Estilos para el botón de cambio de modo
.mode-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

// Estilos para el modo día
.day-mode {
  background-color: #f0f0f0; // Color de fondo para el modo día
  color: #010101; // Color de texto para el modo día
}

// Estilos para el modo noche
.night-mode {
  background-color: #333; // Color de fondo para el modo noche
  color: #f0f0f0; // Color de texto para el modo noche
}

// Estilos para el header
header {
  background: rgb(5, 180, 238);
  font-family: 'EB Garamond', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 1.9rem;

  // Estilos para el menú hamburguesa
  .navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    // Estilos para la lista de navegación
    .nav-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;

      li {
        margin-right: 20px;
      }

      a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
      }
    }

    // Estilos para el logo
    header img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    // Estilos para las redes sociales
    .social-icons {
      display: flex;
      align-items: center;
      margin-left: 50%;

      .social-icon {
        margin-right: 10px;
        color: #007bff;
        font-size: 24px;
        text-decoration: none;

        &:hover {
          color: #0056b3;
        }
      }
    }
  }
}

// Estilos para la sección de bienvenida
.contenedor-bienvenida {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.contenedor-libro-bienvenida {
  font-family: 'EB Garamond', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  border: 20px solid #ccc;
  opacity: 0;
  animation: aparecer 1s forwards;
  margin: auto;

  .bienvenido {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
  }

  .titulo {
    font-size: 20px;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
  }

  .botones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-challenge {
    @include custom-button; // Aquí se usa un mixin personalizado
  }
}

// Estilos para el autor del mes
.contenedor-autor {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  background: linear-gradient(90deg, rgb(2, 243, 175) 0%, rgb(184, 212, 228) 0%, rgba(0, 212, 255, 1) 98%);
  border: 20px solid #ccc;
  opacity: 0;
  animation: aparecer 1s forwards;
  margin: auto;

  .autor-titulo {
    font-family: 'EB Garamond', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    color: rgb(42, 62, 62);
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .autor-fav {
    font-size: 14px;
    color: #0e0d0d;
    text-align: center;
  }

  .Joe {
    width: 80%;
    padding: 40px;
    padding-left: 20%;
  }

  .video {
    margin-left: 20%;
  }
}

// Estilos para la lectura recomendada del mes
.contenedor-libro {
  font-family: 'EB Garamond', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
  border: 10px solid #ccc;
  opacity: 0;
  animation: aparecer 1s forwards;
  font-family: 'EB Garamond', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  width: 61%;
  border-radius: 10px;
  border: 20px solid #ccc;
  animation: aparecer 1s forwards;
  margin: auto;
  margin-top: 33px;
  margin-bottom: 25px;

  .malaz {
    width: 250px;
    height: auto;
    padding: 10px;
    border-radius: 15%;
  }

  .texto-recomendado {
    font-size: 20px;
    color: rgb(42, 62, 62);
  }

  .contenido-libro {
    flex: 1;
    padding: 0 20px;
  }

  .imagen-libro {
    flex-basis: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  // Estilos responsive para lectura recomendada del mes
  @media screen and (max-width: 739px) {
    .contenedor-libro {
      flex-direction: column;
      padding: 40px;

      .malaz {
        width: 150px;
        height: auto;
        padding: 5px;
        border-radius: 10%;
      }

      .contenido-libro {
        padding: 10px;
      }

      .imagen-libro {
        flex-basis: 100%;
        justify-content: center;
      }
    }
  }
}

// Mixin personalizado para botones
@mixin custom-button {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 8px 16px;
  background-color: #2c3136;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    border-color: #ff0000;
    color: #000000;
  }
}

// Keyframes para animación
@keyframes aparecer {
  to {
    opacity: 1;
  }
}
